<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- حذف WebDAV Module که با DELETE تداخل دارد -->
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      
      <handlers>
        <!-- حذف WebDAV Handler -->
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <aspNetCore processPath=".\Chat_Support.Web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- اجازه دادن به تمام HTTP Verbs -->
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <add verb="DELETE" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
            <add verb="PATCH" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  
  <!-- بخش tracing را به صورت جداگانه نگه می‌داریم -->
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,ANCM" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="100-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
<!--ProjectGuid: 1ca4406d-2013-4a96-85f9-64357c78312a-->